
.elementor-widget-heading:not(.no-grade){
    h2{
        background: $fidatoBlueGrade;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        padding-bottom: 0.5rem;
        display: inline-block;
    }
}

.elementor-widget-heading.blue-grade{
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p{
        background: $fidatoBlueGrade;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        padding-bottom: 0.5rem;
        
    }
}


    h1.blue-grade,
    h2.blue-grade,
    h3.blue-grade,
    h4.blue-grade,
    h5.blue-grade,
    h6.blue-grade,
    p.blue-grade{
        background: $fidatoBlueGrade;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }





    body main .fidato-section-heading{
        & .elementor-heading-title{
            color: #348FCE !important;
            text-shadow: 0px 0px 4px rgba(52, 143, 206, 0.25) !important;
            font-family: 'Lato' !important;
            font-size: 1rem !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: 100% !important;
            letter-spacing: 0.15rem !important;
            text-transform: uppercase !important;


            // Override Blue Gradient
            background: unset !important;
            background-clip: unset !important;
            -webkit-background-clip: unset !important;
            -webkit-text-fill-color: unset !important;

        };



    }



@media screen and (max-width: 768px){
    .elementor-button-wrapper{
        max-width: 66.66%;
        & > a{
            text-align: left;

            & .elementor-button-icon{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

        }
    }
}
   