html{
    scroll-behavior: auto !important;
}


.elementor-widget-heading:not(.no-grade){
    h2{
        background: $fidatoBlueGrade;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        padding-bottom: 0.5rem;
        display: inline-block;
    }
}

.elementor-widget-heading.blue-grade{
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p{
        background: $fidatoBlueGrade;
        background-clip: border-box;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        padding-bottom: 0.5rem;
        
    }
}


h1.blue-grade,
h2.blue-grade,
h3.blue-grade,
h4.blue-grade,
h5.blue-grade,
h6.blue-grade,
p.blue-grade{
    background: $fidatoBlueGrade;
    background-clip: border-box;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

body main .fidato-section-heading{
    & .elementor-heading-title{
        color: #348FCE !important;
        text-shadow: 0px 0px 4px rgba(52, 143, 206, 0.25) !important;
        font-family: 'Lato' !important;
        font-size: 1rem !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 100% !important;
        letter-spacing: 0.15rem !important;
        text-transform: uppercase !important;


        // Override Blue Gradient
        background: unset !important;
        background-clip: unset !important;
        -webkit-background-clip: unset !important;
        -webkit-text-fill-color: unset !important;

    };

}



@media screen and (max-width: 768px){
    .elementor-button-wrapper{
        //max-width: 66.66%;
        & > a{
            text-align: left;

            & .elementor-button-icon{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

        }
    }
}


body .elementor-element .elementor-widget-n-accordion  .e-n-accordion .e-n-accordion-item-title,
body .elementor-element .elementor-widget-n-accordion  .e-n-accordion .e-n-accordion-item-title + .elementor-element{
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-color: #113452;
}

body .elementor-element .e-n-accordion .e-n-accordion-item:first-child .e-n-accordion-item-title{
    border-top: 1px solid #113452;
}

body .elementor-element .elementor-widget-n-accordion .e-n-accordion .e-n-accordion-item-title *:not(i) {
    color: var(--e-global-color-770f0b03);
    font-family: "Playfair Display",Sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.15em;
  }

body .elementor-widget-text-editor{
    & ul{
        padding-left: 1.5rem
    }
    & h4{
        margin-bottom: 0.25rem;
    }
}

body .big-next-link.blue-grade p{
    background-image: linear-gradient(45deg,rgba(17, 52, 82, 1) 0%, rgba(38, 117, 184, 1) 50%, rgba(229, 104, 76, 1) 60%, rgb(255, 47, 0) 100%) !important;
    background-position: left;
    background-size: 275%;
    transition: background 0.75s ease;
}


body .big-next-link.blue-grade{
    &:hover p{
        background-position: right;
    }
}

@keyframes buttonAnimSpin{
    0%{
       transform: rotate(0);
       padding-left: 0rem !important; 
       margin-right: 0rem !important; 
    }
    100%{
        transform: rotate(0);
        padding-left: 0rem !important; 
        margin-right: 0rem !important; 
    }
}

body{
    :not(.button-hover-spin){
        .elementor-button-wrapper{

            & .elementor-button-icon{
                padding-left: 0rem;
                margin-right: 0rem;
                transition: all 0.15s ease-in-out;
            }
            &:hover{

                & a{
                    color: #E5684C !important;
                }
                & .elementor-button-icon{
                    padding-left: 0.25rem;
                    margin-right: -0.25rem;
                }
                    
            }
        }
    }
    
    .button-hover-spin{
        & .elementor-button-wrapper{

            & .elementor-button-icon{
                transition: all 0.15s ease-in-out;
            }

            &:hover{
                & .elementor-button-icon i{
                    animation-name: buttonAnimSpin;
                    animation-duration: 0.66s;
                }
                    
            }

        }
    }


    .button-orange{
        & .elementor-button-wrapper{

            &:hover{
                & a{
                    color: #113452 !important;
                }
                
                    
            }

        }
    }




}

body{
    a.link{
    
        & span{
            margin-right: 0.5rem;
            transition: all 0.15s ease-in-out;
            & svg *{
                transition: all 0.15s ease-in-out;  
            }
        }
    
        &:hover{
            & > span{
                color: #E5684C;
                margin-right: 0.75rem !important;
            }

            & svg *{
                fill: #E5684C;
                stroke: #E5684C;
            }
        }
    
    }

    .blueNumericSwiper{
        a.link{
            & > span{
                color: #fff;
            }

            & svg *{
                fill: #fff;
                stroke: #fff;
            }
        }  
    }
}


.elementor-editor-active{

    & .swiper-slide{
        max-width: 300px;
    }


}