
.learning-center-carousel{
    & > .play-button{
        
        
        &.featured{
            & > span{
                width:11.125rem;
                padding-bottom: 0;
                justify-content: center;
                align-items: center;
            }
           
        }

        & > span{
            position: absolute;
            aspect-ratio: 1;
            background-color: rgba(17, 52, 82, 0.85);
            backdrop-filter: blur(8.5px);
            width:6.5rem;
            color:#fff;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            padding-bottom: 1.5rem;
            text-shadow: 0px 0px 4px rgba(52, 143, 206, 0.25);
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 1rem */
            letter-spacing: 0.1rem;
            transform: rotate(7.7deg);
        }
    }

    .learningCenterSwiper{

        & .swiper-slide .slide-inner{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 11.88rem;
            row-gap: 2.5rem;
    
            .fidato--resource-card{
                background: #EDECEB;
                padding: 2.5rem;
                width: 100%;
                max-width: 36.125rem;
                box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.10);
                display: flex;
                flex-direction: column;
                object-position: center center;
            
                &.videos{
                    padding: 0;
                    aspect-ratio: 16/9;
                    overflow: hidden;
                    border-radius: 0.75rem;
        
                    position: relative;
        
                    // cursor: none;
            
                    & img{
                        object-fit:cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        transform: scale(1.01);
                    }
                }
            
                & .post-date{
                    color: #348FCE;
            
                    /* H4 Drop Shadow */
                    text-shadow: 0px 0px 4px rgba(52, 143, 206, 0.25);
            
                    /* Section Heading */
                    font-family: Lato;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 1rem */
                    letter-spacing: 0.15rem;
                    text-transform: uppercase;
                }
            
                & h3{
                    font-family: "Playfair Display", Sans-serif;
                    font-size: 1.5rem;
                    letter-spacing: 0.015rem;
                    color: #E5684C;
                    margin: 0.82rem 0rem 2rem 0rem;
                }
            
                & p.post-excerpt{
                    margin-bottom: 1.66rem;
                }
            
                & a.button{
                    background-color: var( --e-global-color-2ae3c9d );
                    font-family: "Lato", Sans-serif;
                    font-size: 1.125rem;
                    font-weight: 400;
                    letter-spacing: -0.01125rem;
                    fill: #113452;
                    color: #113452;
                    padding: 0.5rem 0rem 0.5rem 0rem;
                    margin-top: auto;
            
                    & > span{
                        border-bottom: 1px solid #113452;
                    }
            
                    & i{
                        vertical-align: -3px;
                        margin-left: 0.66rem;
                    }
                }
            }
    
        }
    
    
    
    }

    &.featured{

        & .learningCenterSwiper{

            & .swiper-slide .slide-inner{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0;
                row-gap:0;
        
                .fidato--resource-card{
                    background: #EDECEB;
                    padding: 2.5rem;
                    width: 100%;
                    max-width: 62.6875rem;
                    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.10);
                    display: flex;
                    flex-direction: column;
                    object-position: center center;

                    &.videos{
                        padding: 0;
                        aspect-ratio: 16/9;
                        overflow: hidden;
                        border-radius: 0.75rem;
                
                        position: relative;
                    }
                }
            }

        }

    }
}





.learning-center-carousel .swiper-button-next,
.learning-center-carousel .swiper-button-prev{
    position: relative;
    margin-top: 2rem;
    width: 3.25rem;
    height: 3.25rem;
    position: relative;
    z-index: 1;
    & > svg{
        width: 100%;
        height: auto;
    }
    &:after{
        display: none;
    }

    &:before{
        content: '';
        display: block;
        top: 0;
        left: 0;
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background-color:#fff;
        box-shadow: 0px 0px 17px rgba(17, 52, 82, 0.45);
        z-index: -1;
    }

    
}
.learning-center-carousel .swiper-button-next{
    left: 0; 
    
}
.learning-center-carousel .swiper-button-prev{
    right: 0; 
    left: unset;
}

.learning-center-carousel .swiper-navigation{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-bottom: 2rem;
}